/* Mobile Styles - 375px width */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0d192b;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  position: relative;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.wrapper {
  background-color: #14253d;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 330px;
  height: 550px;
  padding: 25px;
}

.wrapper hr {
  width: 100%;
  height: 1px;
  background-color: #2f415b;
  margin: 0.8rem 0;
  border: 0px;
}

.wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.wrapper .container {
  position: relative;
  width: 100%;
  max-width: 280px;
  max-height: 280px;
}

.wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #00fff7;
}

.wrapper .overlay svg {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper .container:hover .overlay {
  opacity: .6;
  cursor: -webkit-grab;
  cursor: grab;
}

.wrapper .text {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  padding-top: 1rem;
}

.wrapper .text h1 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper .text h1:hover {
  color: #00fff7;
  cursor: -webkit-grab;
  cursor: grab;
}

.wrapper .text span {
  line-height: 1.6;
}

.wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: .8rem;
}

.wrapper .bottom .eth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00fff7;
  font-size: .9rem;
  font-weight: 600;
  gap: 10px;
}

.wrapper .bottom #days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.wrapper .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  font-size: .9rem;
}

.wrapper .credit img {
  width: 25px;
  height: 25px;
  border: 1px white solid;
  border-radius: 50px;
}

.wrapper .credit #jules {
  color: white;
}

.wrapper .credit #jules:hover {
  color: #00fff7;
  cursor: -webkit-grab;
  cursor: grab;
}

.wrapper .soft-blue {
  color: #8bacda;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */