/* Mobile Styles - 375px width */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.wrapper {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-width: 330px;
    max-height: 550px;
    padding: 25px;

    hr {
        width: 100%;
        height: 1px;
        background-color: hsl(215, 32%, 27%);
        margin: 0.8rem 0;
        border: 0px;
    }

    img {
        max-width: 280px;
        max-height: 280px;
        border-radius: 15px;
    }

    .text {

        text-align: left;
        font-size: 1rem;
        font-weight: 300;
        padding-top: 1rem;

        h1 {
            color: hsl(0, 0%, 100%);
            font-size: 1.2rem;
            font-weight: 600;
        }

        span {
            line-height: 1.6;
        }

    }

    .bottom {
        display: flex;
        justify-content: space-between;
        padding-top: .8rem;

        .eth {
        display: flex;
        align-items: center;
        color: hsl(178, 100%, 50%);
        font-size: .9rem;
        font-weight: 600;
        gap: 10px;
        }

        #days {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

    }

    .credit {

        display: flex;
        align-self: flex-start;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        font-size: .9rem;

        img {
            max-width: 25px;
            max-height: 25px;
            border: 1px hsl(0, 0%, 100%) solid;
            border-radius: 50px;
        }

        p {
            padding-left: .5rem;
            color: hsl(0, 0%, 100%);
        }
    }

    .soft-blue {
        color: hsl(215, 51%, 70%);
    }
}

.attribution { 
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;

    a { 
        color: hsl(228, 45%, 44%);
    }
}